body {
  font-family: ErasLightITC, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
}

.bg-img {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -999;
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg.jpeg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-chi {
  opacity: 0.6;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
  font-size: 15px;
}

.header-en {
  margin-bottom: 15px;
  opacity: 0.6;
  color: #fff;
  letter-spacing: 0.5px;
}

.separator {
  position: relative;
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #121f20), to(rgba(18, 31, 32, 0)));
  background-image: linear-gradient(0deg, #121f20 30%, rgba(18, 31, 32, 0));
}

.info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #fff;
  font-size: 14px;
}

.subtitle {
  opacity: 0.6;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
  text-align: left;
}

.banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.info-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.info-light {
  margin-bottom: 20px;
  opacity: 0.6;
  font-size: 12px;
}

.title-img-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
  margin-right: 35%;
  margin-left: 35%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slogan {
  margin-top: 2%;
  color: #fff;
  line-height: 20px;
  letter-spacing: 8px;
}

.venue-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.info-light-chi {
  margin-bottom: 20px;
  opacity: 0.6;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  font-size: 12px;
}

.info-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.text-span {
  color: #fff;
}

.content {
  margin-bottom: 15px;
  color: #fff;
  text-align: justify;
  letter-spacing: 0.5px;
}

.content._2 {
  color: #9b9b9b;
}

.content._4 {
  color: #c5c5c5;
}

.content._5 {
  color: #c5c5c5;
}

.content._1 {
  color: #7a7a7a;
}

.content._3 {
  color: #acacac;
}

.content-wrap-chi {
  width: 50%;
  margin-right: 20px;
  margin-bottom: 15px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
  text-align: left;
}

.subtitle-chi {
  margin-bottom: 15px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
}

.content-chi {
  margin-right: 20px;
  margin-bottom: 15px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
  text-align: justify;
}

.content-chi._5 {
  color: #c5c5c5;
}

.content-chi._3 {
  color: #acacac;
}

.content-chi._4 {
  color: #c5c5c5;
}

.content-chi._1 {
  color: #7a7a7a;
}

.content-chi._2 {
  color: #9b9b9b;
}

.subtitle-en {
  margin-bottom: 15px;
  color: #fff;
  letter-spacing: 0.5px;
}

.info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #121f20;
  color: #121f20;
}

.content-wrap {
  width: 50%;
  margin-bottom: 15px;
  color: #fff;
  text-align: left;
  letter-spacing: 0px;
}

.left-arrow-2 {
  display: none;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  opacity: 0.6;
  font-size: 15px;
}

.mask {
  height: auto;
}

.slider {
  width: 100%;
  height: 100%;
  margin-bottom: 5%;
  background-color: transparent;
}

.artist-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-2 {
  width: 430px;
  height: 430px;
  background-color: transparent;
}

.artist {
  background-color: #121f20;
  color: #fff;
}

.slide-nav-2 {
  display: none;
}

.artist-info-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-chi {
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #fff;
}

.left-arrow {
  width: 40px;
  height: 40px;
  opacity: 0.2;
}

.right-arrow {
  width: 40px;
  height: 40px;
  opacity: 0.2;
}

.title-en {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
  letter-spacing: 0.5px;
}

.artist-slider-img {
  position: relative;
  width: 430px;
  height: 430px;
  margin-right: 5%;
  margin-left: 5%;
}

.slide-nav {
  margin-bottom: -40px;
}

.artist-profile {
  width: 50%;
  margin-right: 5%;
  margin-left: 5%;
}

.artist-img {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 430px;
  height: 430px;
  margin-right: 5%;
  margin-left: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.artist-img.inner {
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.right-arrow-2 {
  display: none;
}

.footer-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #121f20;
}

.footer-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link:hover {
  opacity: 1;
}

.footer-link:active {
  opacity: 0.8;
}

.paragraph-tiny {
  color: #b9b9b9;
  font-size: 12px;
  line-height: 20px;
}

@media screen and (max-width: 991px) {
  .content-chi {
    margin-right: 0px;
  }
  .slider-2 {
    width: 100%;
    height: 100%;
  }
  .artist-info-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .artist-slider-img {
    width: 40%;
    height: 40%;
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .slide-nav {
    margin-bottom: -30px;
  }
  .artist-profile {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .artist-img {
    width: 40%;
    height: 40%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
  }
  .artist-img.inner {
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .info-wrap {
    padding-right: 5%;
    padding-left: 5%;
  }
  .subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 4px;
  }
  .info-light {
    margin-bottom: 0px;
    text-decoration: none;
  }
  .title-img-wrap {
    margin-right: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
  }

  .title-img-wrap img{
    width: 100%;
    height: 100%;
  }
  
  .hero-wrap {
    height: auto;
  }
  .info-light-chi {
    margin-bottom: 0px;
  }
  .info-container {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .content-wrap-chi {
    width: 100%;
  }
  .content-chi {
    margin-right: 0px;
    font-size: 12px;
  }
  .content-wrap {
    width: 100%;
  }
  .artist-info-wrap {
    height: 800px;
    margin-right: 5%;
    margin-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .left-arrow {
    width: 30px;
  }
  .artist-slider-img {
    width: 60%;
    margin-right: 0%;
    margin-left: 0%;
  }
  .artist-profile {
    width: 100%;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .artist-img {
    width: 60%;
    margin-right: 0%;
    margin-left: 0%;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer-link {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 479px) {
  .header-chi {
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  .header-en {
    font-size: 13px;
  }
  .separator {
    height: 50px;
  }
  .info-wrap {
    padding-right: 5%;
    padding-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .subtitle {
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
  }
  .title-img-wrap {
    margin-right: 5%;
    margin-left: 5%;
  }

  .title-img-wrap img{
    width: 100%;
    height: 100%;
  }

  .hero-wrap {
    height: 100vh;
  }
  .slogan {
    margin-top: 1%;
  }
  .info-container {
    padding-right: 5%;
    padding-left: 5%;
  }
  .artist-info-wrap {
    height: auto;
  }
  .artist-slider-img {
    width: 100%;
    height: auto;
    margin-bottom: 0%;
  }
  .artist-img {
    width: 100%;
    height: auto;
    margin-bottom: 0%;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@font-face {
  font-family: 'ErasLightITC';
  src: url('../fonts/ErasLightITC.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}